:root {
  --bg: #0F172A;
  --card: #1E293B;
  --primary: #3B82F6;
  --primary-hover: #60A5FA;
  --text-main: #F8FAFC;
  --text-secondary: #94A3B8;
}
* {
    margin:0;
    padding:0;
    font-family:'Inter',sans-serif;

}
h1,h2 {
    font-size:30px;
    color:var(--text-main);
}
p {
    color:var(--text-secondary);
}

body {
    background-color:var(--bg);
}
.nav {
    display:flex;
    height:50px;
    width:100%;
    justify-content:space-between;
    align-items:center;
    position:sticky;
    z-index:50;
}    
.nav .logo-text {
    display:flex;
    gap:10px;
    align-items:center;
}
.logo-text .logo {
    height:50px;
    width:50px;
    border-radius:50%;
    background-image:url(/assetts/images/logo.png);
    background-size:cover;
}
.logo-text .text {
    color:var(--text-main);
    font-size:16px;
    font-weight:500;
}
.nav-options {
    display:flex;
    gap:30px;
    padding:20px 40px;
}

.nav-options li {
    list-style-type:none;
}
.nav-options  li a {
    text-decoration:none;
    color:var(--text-main);
    font-size: 16px;
    font-weight:500;
}
.nav-options  li a:hover {
    color:var(--primary-hover);
}
.hero {
    display:flex;
    width:100%;
    height:600px;
    gap:400px;
    align-items:center;
}
.hero-content {
    display:flex;
    flex-direction:column;
    padding:50px;
    gap:20px;
    align-items:flex-start;
}
.hero-content .name {
    font-size:50px;
}
.hero-content .role {
    font-size:40px;
    font-weight:500;
}
.hero-content .hello {
    font-size:30px;
    color:var(--text-main);
    font-weight:300;
}



.hero-content a {
    text-decoration:none;
    font-size:25px;
    color:var(--text-main);
    font-weight:500;
}
.cta-btn {
    padding:10px;
    border-radius:10px;
    background-color: var(--primary);
}
.cta-btn:hover {
    background-color:var(--primary-hover);
}
.hero-image {
  position: relative;
  width:300px;
  height:300px;
  border-radius:50%;
  background-color: var(--primary);
}
.hero-image .inner-circle {
    height:250px;
    width:250px;
    border-radius:50%;
    background-image:url(/assetts/images/logo.png);
    background-size:cover;
    margin:25px;
}
#name {
    color:var(--primary);
}
.section-title {
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}
.section-title span {
    font-weight:400;
    font-size:40px;
}
.about-me {
    display:flex;
}
.skill-container {
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.skill-container img {
    height:100px;

}
.skill-container .skill {
    display:flex;
    flex-direction:column;
    align-items:center;
}
.skill span {
    color:var(--text-main);
    font-size:30px;
}