:root {
  --bg: #0F172A;
  --card: #1E293B;
  --primary: #3B82F6;
  --primary-hover: #60A5FA;
  --text-main: #F8FAFC;
  --text-secondary: #94A3B8;
}
* {
    margin:0;
    padding:0;
    font-family:'Inter',sans-serif;

}
h1,h2 {
    font-size:30px;
    color:var(--text-main);
}
p {
    color:var(--text-secondary);
}

body {
    background-color:var(--bg);
}
.nav {
    display:flex;
    height:50px;
    width:100%;
    justify-content:space-between;
    align-items:center;
    position:sticky;
    z-index:50;
    top:0;
    background-color:var(--bg);
    background: rgba(15, 23, 42, 0.6);  /* transparent dark */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari support */

}    
.nav .logo-text {
    display:flex;
    gap:10px;
    align-items:center;
}
.logo-text .logo {
    height:50px;
    width:50px;
    border-radius:50%;
    background-image:url(/assetts/images/logo.png);
    background-size:cover;
}
.logo-text .text {
    color:var(--text-main);
    font-size:16px;
    font-weight:500;
}
.nav-options {
    display:flex;
    gap:30px;
    padding:20px 40px;
}

.nav-options li {
    list-style-type:none;
}
.nav-options  li a {
    text-decoration:none;
    color:var(--text-main);
    font-size: 16px;
    font-weight:500;
}
.nav-options  li a:hover {
    color:var(--primary-hover);
}
.hero {
    display:flex;
    width:100%;
    height:600px;
    gap:400px;
    align-items:center;
}
.hero-content {
    display:flex;
    flex-direction:column;
    padding:50px;
    gap:20px;
    align-items:flex-start;
}
.hero-content .name {
    font-size:50px;
}
.hero-content .role {
    font-size:40px;
    font-weight:500;
}
.hero-content .hello {
    font-size:30px;
    color:var(--text-main);
    font-weight:300;
}



.hero-content a {
    text-decoration:none;
    font-size:25px;
    color:var(--text-main);
    font-weight:500;
}
.cta-btn {
    padding:10px;
    border-radius:10px;
    background-color: var(--primary);
}
.cta-btn:hover {
    background-color:var(--primary-hover);
}
.hero-image {
  position: relative;
  width:300px;
  height:300px;
  border-radius:50%;
  background-color: var(--primary);
}
.hero-image .inner-circle {
    height:250px;
    width:250px;
    border-radius:50%;
    background-image:url(/assetts/images/logo.png);
    background-size:cover;
    margin:25px;
}
#name {
    color:var(--primary);
}
.section-title {
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}
.section-title span {
    font-weight:400;
    font-size:40px;
}
.about-me-section {
    display:flex;
    flex-direction:column;
    gap:100px;
}
.about-me {
    width:100%;
    display:flex;
    justify-content:space-around;
}
.about-me .personal-img {
    width:250px;
    height:300px;
    background-image:url(/assetts/images/Abdul-malik.JPG.jpeg);
    background-size:cover;
    border-radius:16px;
}
.about-me .personal-info {
    width:800px;
    display:flex;
    flex-direction:column;
    gap:15px;
}
.personal-info h3 {
    color:var(--primary);
    font-weight:400;
}
.personal-info p {
    color:var(--text-secondary);
}
.skills {
    padding:80px 40px;
    text-align:center;

}
.skill-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    max-width: 900px;
    margin: auto;
    margin-top:3rem;
}
.skill-card {
  background: var(--card);
  padding: 30px;
  border-radius: 12px;
  font-size: 18px;
  color: var(--text-main);
  transition: 0.3s ease;
  cursor: pointer;
}
.skill-card:hover {
  transform: translateY(-8px);
  background: var(--primary-hover);
}
.skill-card i {
    font-size:40px;
    margin-bottom:1rem;
    color:var(--primary);
}
.skill-card p {
    color:var(--text-main);
    font-size:1.5rem;
}
.projects-section {
    padding:80px 40px;
    text-align:center;

}
.project-grid {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:30px;
    max-width:900px;
}
.project-card {
    background:var(--card);
    border-radius:1rem;
    overflow:hidden;
    transition:0.3s ease-in;
}
.project-card:hover {
  transform: translateY(-8px);
}
.project-card img {
    width:100%;
    height:200px;
    object-fit:cover;
}
.project-card h3 {
    color:var(--text-main);
    padding:15px;
}
.project-card p {
    padding:0 15px 15px;
    color:var(--text-secondary);
}
.project-card .project-links {
    padding:1rem;
    display:flex;
    justify-content:space-evenly;
}
.project-links a {
    height:2rem;
    width:9rem;
    border-radius:1rem;
    padding:0.5rem;
    background:var(--primary);
    text-decoration:none;
    font-size:1.5rem;
    color:var(--text-main);
}